

body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMhIco1eCqXxcQ3w8o1H_1VciWsz62FgWAO9qcV-qDbz-tVC4zVg");
	color:silver;

}

#head {
    border-bottom: 1px solid;
}
